<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="json_listener_host_name" value="localhost"/>
    <add key="json_listener_username" value="guest"/>
    <add key="json_listener_password" value="guest"/>
    <add key="api_base_url" value="https://localhost:5001"/>
  </appSettings>
</configuration>